extends layout

block head-buttons
  button.btn.btn-success(for="add-dialog-form") Готово
  a.btn.btn-secondary(href="/dialogs") Отмена

block primary
  form#add-dialog-form(action="/dialogs/add" method="post")
    .form-group
      label(for='nameInput') Название
      input#nameInput.form-control(type='text')
      small.form-text.text-muted Имя диалога, которое будет показано в меню
