extends ../layout

block content
  .row
    .col-3
      ul.nav.nav-pills.flex-sm-column
        for dialog in dialogs
        li.nav-item
            a.nav-link(href='/dialogs/#{dialog.id}')= dialog.title
    .col-md
      .row.align-items-center.form-group
        .col-md Mой ID: #{token}
        .col-auto
          .row.button-row
            block head-buttons
            a.btn.btn-secondary(href="/logout") Выход
      block primary