extends ../layout

block content
  .row
    .col-3
      ul.nav.nav-pills.flex-sm-column
        li.nav-item
          a.nav-link.active(href='#') Работа
        li.nav-item
          a.nav-link(href='#') Универ
        li.nav-item
          a.nav-link(href='#') Клан
    .col-md
      .row.align-items-center
        .col-md Mой ID: b2uf28yfvi2c9eq1v9
        .col-auto
          .row.button-row
            block head-buttons
      block primary