extends ../layout

block content
  .row
    .col-3
      ul.nav.nav-pills.flex-sm-column
        li.nav-item
          a.nav-link.active(href='#') Работа
        li.nav-item
          a.nav-link(href='#') Универ
        li.nav-item
          a.nav-link(href='#') Клан
    .col-md
      .row.align-items-center
        .col-md Mой ID: #{token}
        .col-auto
          .row.button-row
            block head-buttons
            a.btn.btn-secondary(href="/logout") Выход
      block primary